.wrapper {
    background-color: #002f2fe0;
    bottom: 2rem;
    display: grid;
    place-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.button {
    appearance: none;
    background: none;
    border: none;
    border-bottom: 1px dashed var(--grey);
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 0.25rem;
    letter-spacing: normal;
}