.wrapper {
    --text-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
}

.inner {
    display: flex;
    padding-bottom: 2rem;
    padding-top: 3rem;
    justify-content: space-between;
}

.links {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: 1.2rem;
    list-style: none;
}